@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrujte se";
}

<h1 style="font-family: 'Lobster', cursive;">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Kreirajte novi nalog.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Ime"></label>
                <input asp-for="Input.Ime" class="form-control" />
                <span asp-validation-for="Input.Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Prezime"></label>
                <input asp-for="Input.Prezime" class="form-control" />
                <span asp-validation-for="Input.Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Lozinka"></label>
                <input asp-for="Input.Lozinka" class="form-control" />
                <span asp-validation-for="Input.Lozinka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Potvrda"></label>
                <input asp-for="Input.Potvrda" class="form-control" />
                <span asp-validation-for="Input.Potvrda" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color:#b250b7;">Registracija</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
